In [1]:
print("hi")

hi

In [4]:
a=input("enter your name:")
a

'sdfgh'

In [5]:
650/3

216.66666666666666

In [6]:
44565/9

4951.666666666667

In [7]:
a=input("enter a number....")

In [13]:
a=input("enter a number...")
print(a)
a= float(a)
type(a)

5.23

float

In [16]:
a=7
print("program start")

if a==5:
    print("the value of A is five")
else:
    print("the number is something else....")
    
print("program end")

program start
the number is something else....
program end

In [1]:
a=1
if a==5:
    print("print five")
elif a==1:
    print("ONE")
else:
    print("fwhgejj")

ONE

Based on the user input,print the corresponding day of the week if 1-> sunday,if 2-> monday,....

In [2]:
a= int(input("enter the number"))
if a==1:
    print("Sunday")
elif a==2:
    print("Monday")
elif a==3:
    print("Tuesday")
elif a==4:
    print("Wednesday")
elif a==5:
    print("Thursday")
elif a==6:
    print("Friday")
elif a==7:
    print("Saturday")
else:
    print("wrong input")

Friday

#### STRING

In [3]:
msg = "this is a message"

In [4]:
type(msg)

str

In [5]:
msg[5]

'i'

In [9]:
print(len(msg))
print(len("devika s vinod"))

17
14

In [11]:
for i in msg:
    print(i)

t
h
i
s

i
s

a

m
e
s
s
a
g
e

In [12]:
msg.upper()

'THIS IS A MESSAGE'

In [13]:
msg

'this is a message'

#### strip(),split(),format()

In [4]:
name="    abc     \tjhsbdkc\ncm   "
print(type(name))
print(name.strip())

<class 'str'>
abc     	jhsbdkc
cm

In [2]:
print(len(name))
print(name.strip())

NameError: name 'name' is not defined

In [20]:
numbers="2,4,3,5,9,7"
print(numbers.split(','))

['2', '4', '3', '5', '9', '7']

In [21]:
# \t is used to get tab and \n is used to jump into a new line

numbers="2,3,5,7,2,8"
nos=numbers.split(',')
for item in nos:
    print(item)

2
3
5
7
2
8

In [23]:
numbers=[4,6,2,9,7,5,1,6]
sum=0
for i in numbers:
    sum=sum+i
print(sum)

40

In [30]:
numbers="4,2,8,9,7,5"
nos=numbers.split(',')
print(nos)
sum=0
for item in nos:
    temp=int(item)
    sum= sum+temp
    print(item,type(item),temp,type(temp))
print(sum)

['4', '2', '8', '9', '7', '5']
4 <class 'str'> 4 <class 'int'>
2 <class 'str'> 2 <class 'int'>
8 <class 'str'> 8 <class 'int'>
9 <class 'str'> 9 <class 'int'>
7 <class 'str'> 7 <class 'int'>
5 <class 'str'> 5 <class 'int'>
35

#### format()

In [31]:
name=input("Enter user name:")
password=input("Enter the password")
print("Your username:{} and password entered is:{}".format(name,password))

Your username:devika and password entered is:1243465

#### for

In [32]:
for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [35]:
# find the sum of n multiples of 2 where n is user input

sum=0
n=int(input("Enter no of terms:")) 
for i in range(n):
    a=i*2
    sum=sum+a
print(sum)

600

#### List

In [33]:
nlist=["abc","hff",23,23.67,"we3fe"]

In [34]:
print(nlist)

['abc', 'hff', 23, 23.67, 'we3fe']

In [2]:
listex=["one","two","three","four"]
print(listex)

['one', 'two', 'three', 'four']

In [3]:
print(listex[3])

four

In [4]:
if "three" in listex:
    print("success")

success

In [5]:
listex.append("five")

In [6]:
print(listex)

['one', 'two', 'three', 'four', 'five']

In [7]:
# Append is a function used to add an element

listex.append('six')
print(listex)

['one', 'two', 'three', 'four', 'five', 'six']

In [8]:
# pop is a function to remove an element. By default last element will get removed or else index should be mentioned in ()

listex.pop(0)

'one'

In [9]:
listex.remove('two')

In [10]:
print(listex)

['three', 'four', 'five', 'six']

In [11]:
# sort function helps to sort the list and reverse function will reverse the list

listex.sort()
print(listex)
listex.reverse()
print(listex)

['five', 'four', 'six', 'three']
['three', 'six', 'four', 'five']

#### Functions

In [12]:
def fname():
    print("I am your function...")

In [13]:
fname()

I am your function...

In [17]:
def fname():
    print("I am your function...")
    retVal="Success"
    return retVal, True

In [15]:
status=fname()
print(status)

I am your function...
Success

In [18]:
status,flag=fname()
print(status,flag)

I am your function...
Success True

In [19]:
# functions with parameter

def fname(n):
    print("I am your function...",n)
    retVal="Success"
    return retVal, True

In [20]:
name="Devika"
status,flag=fname(name)
print(status,flag)

I am your function... Devika
Success True

Define a function that takes a list of numbers as input and return the sum of numbers,without any predefined functions

In [1]:
def addno(lst):
    sum=0
    for i in lst:
        sum=sum+i
    return sum
lst=[3,5,7,2,9,5,4]
addno(lst)

35

In [2]:
n=int(input("Enter the no of terms:"))
lst=[]
for i in range(0,n):
    no=int(input("enter the number:"))
    lst.append(no)
print(lst)

[3, 6, 9, 2, 6, 4]

In [3]:
print("sum is", addno(lst))

sum is 30

In [8]:
def sumListfn(lst):
    sum=0
    # logic to sum the numbers in the list
    for item in lst:
        sum += int(item)
    return sum
userInput = input("Enter a list of numbers seperated via Coma")
# 2,3,4,5,6,7,10,23
array = userInput.strip().split(',')
# ["2","3","4","5","6","7","10","23"]
sum = sumListfn(array)
print("Sum:",sum)

Sum: 49

Count the number of odd and even numbers in the list and print the odd numbers count & even numbers count along with the numbers
You will have a function that will take a list of numbers,then returns the count of odd numbers and even numbers and the new list of odd numbers and even numbers.

In [14]:
n= int(input("Enter the number of items in list:"))
lst=[]
for i in range(0,n):
    item=int(input("Enter the number:"))
    lst.append(item)

odd_list = []
even_list = []

def sort(lst):
    for item in lst:
        if item%2==0:
            even_list.append(item)
        else:
            odd_list.append(item)
    
    print(even_list)
    print(odd_list)

sort(lst)

count_even=len(even_list)
count_odd=len(odd_list)

print(count_even)
print(count_odd)

[2, 4] [1, 3, 5]
2
3

#### File Handling

In [13]:
file=open("Sample.txt","w+")

In [17]:
file.write("This is my first line to file from python\n")

42

In [18]:
file.close()

In [19]:
file=open("Sample.txt","r+")
file.readline()

'This is my first line to file from python\n'

In [20]:
file.readlines()

['This is my first line to file from python\n',
 'This is my first line to file from python\n',
 'This is my first line to file from python\n']

Write a function in python that accepts your details and save it into file with your name

In [1]:

def saveDetails(name,email,phone):
    filename = name+".txt"
    with open (filename,"w+")as file:
        file.write("Name\t:\t"+name)
        file.write("\nEmail\t:\t"+email)
        file.write("\nPhone\t:\t"+phone)

user_name = input('Enter your Name')
user_email = input('Enter your Email')
user_phone = input('Enter your Phone')
saveDetails(user_name,user_email,user_phone)

Write a python program that will take two operands and an operator and performs the calculation and gives the result.Also save the calculations that your program performs in a file'

In [1]:
a = 0
while a < 7:
    res = a * a
    print(a,res)
    a = a + 1

0 0
1 1
2 4
3 9
4 16
5 25
6 36

### Break and Continue

In [5]:
for i in range(1,10,1):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [3]:
for i in range(1,10,1):
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9

### Set

In [8]:
list_ex = ["ABC","ABC","CDF","ABC","EFD","BCD","NBG"]
set_ex = set(list_ex)
back = list(set_ex)
print(list_ex)
print(set_ex)
print(back)

['ABC', 'ABC', 'CDF', 'ABC', 'EFD', 'BCD', 'NBG']
{'NBG', 'CDF', 'ABC', 'EFD', 'BCD'}
['NBG', 'CDF', 'ABC', 'EFD', 'BCD']

In [9]:
list_ex = ["ABC","ABC","CDF","ABC","EFD","BCD","NBG"]
set_ex = set(list_ex)
back = list(set_ex)
print(list_ex)
print(set_ex)
print(back)
print(type(list_ex))
print(type(set_ex))
print(type(back))

['ABC', 'ABC', 'CDF', 'ABC', 'EFD', 'BCD', 'NBG']
{'NBG', 'CDF', 'ABC', 'EFD', 'BCD'}
['NBG', 'CDF', 'ABC', 'EFD', 'BCD']
<class 'list'>
<class 'set'>
<class 'list'>

Create a list of 10 names that are random and repeating from user identify the unique items and their count

In [2]:
names = []
for i in range(0,10,1):
    name = input("Enter the name")
    name = name.strip()
    name = name.upper()
    names.append(name)
print(names)

['GOKUL', 'AADITH', 'RIYA', 'DEVIKA', 'SID', 'ARDRA', 'AADITH', 'RIYA', 'GOKUL', 'GOKUL']

### Dictionaries

Values are stored in key-value pair

In [1]:
my_dict = {
    "Name": "Devika S Vinod ",
    "Phone": 9989878536,
    "email": "devikasvinod@gmail.com"
}

In [2]:
print(my_dict["Name"])

Devika S Vinod

In [3]:
print(my_dict)

{'Name': 'Devika S Vinod ', 'Phone': 9989878536, 'email': 'devikasvinod@gmail.com'}

In [4]:
my_dict["Address"] = "CHRIST(Deemed to be University)"
print(my_dict)

{'Name': 'Devika S Vinod ', 'Phone': 9989878536, 'email': 'devikasvinod@gmail.com', 'Address': 'CHRIST(Deemed to be University)'}

In [5]:
my_dict.values()

dict_values(['Devika S Vinod ', 9989878536, 'devikasvinod@gmail.com', 'CHRIST(Deemed to be University)'])

In [7]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['Name', 'Phone', 'email', 'Address'])
Name
Phone
email
Address

In [20]:
students = {
    "Names" : ["Aadith","Devika","Gokul","Riya","Sidharth"],
    "Rollnumbers": [1,2,3,4,5]
}
for name in students["Names"]:
    print(name)

Aadith
Devika
Gokul
Riya
Sidharth

In [21]:
print(students["Names"][4])

Sidharth

In [ ]:
mscdsb = [
    {
        "Rollnumnber" : 23122113,
        "Name" : "Devika",
        "Email" : "devikasvnodgmail.com",
        "Phone" : 5217739178
    },
    {
        "Rollnumber" :